<header>
    <nav>
        <ul>
            <li><a href="/">Notetaker</a></li>
            <% if(loggedIn){ %>
            <li><a href="/new">New Note</a></li>
            <li><a href="/notes">Notes</a></li>
            <li><a href="/logout">Logout</a></li>
            <% } %>
            <% if(!loggedIn){ %>
            <li><a href="/login">Login</a></li>
            <li><a href="https://notaker.onrender.com/register">Register</a></li>
            <% } %>
        </ul>
    </nav>
</header>