<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>
    <div id="page">
        <div class="page-content">
            <%- include ("../partials/nav.ejs") %>
            <main>
                <div class="err-content">

                    <article>
                        <hgroup>
                            <h1>404</h1>
                        </hgroup>
                        <P>Page not found</P>
                    </article>
                </div>
            </main>
            <%-include("../partials/footer.ejs") %>
        </div>
    </div>
</body>

</html>